@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root{
  --border-radius: 12px;

  --accent-color: hsl(266, 42%, 59%);
  --accent-color-tint: hsl(266, 42%, 53%);

  --main-info-color: #b6bfb7;
  --main-success-color: #4CAF50;
  --main-danger-color: #E53935;

  --main-text-light: #ededed;
  --secondary-text-light: #eeeeee;

  --actions-color: #64707d;
  --main-text: #3e3e3e;
  --main-bg: #eef0f1;
  --secondary-text: #202428;
  --secondary-bg: #ffffff;
  --secondary-bg-tint: #e6e6e6;
  --secondary-bg-tint-focus: #e0e0e0;
  --secondary-bg-muted: #e0e0e0;
  --form-border-color: #eeecec;

  --selection-text: #000000;
  --selection-bg: #dabfff;

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --mediumFontSize: 2rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

[data-theme='dark']{
  --main-text: #e8e8e8;
  --main-bg: #161616;
  --secondary-text: #d7cadd;
  --secondary-bg: #111113;
  --secondary-bg-tint: #1d1d1d;
  --secondary-bg-tint-focus: #191919;
  --secondary-bg-muted: #0c0c0e;
  --form-border-color: #161717;
  --form-border-color-active: var(--accent-color);

  --selection-text: #f2f2f2;
  --selection-bg: #563170;
}

/* Default styles */
html{
  font-size: 90%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img{
  width: 100%;
  height: auto;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--actions-color);
}

.btn .icon{
  margin-left: .5rem;
}

.btn:hover{
  background: var(--paleGreen);
  color: var(--accent-color);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg);
  overflow: hidden;
  box-shadow: 2px 2px 8px var(--greyText);
}

/* Hide the scroll thumb */
::-webkit-scrollbar{
  display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 990px){
  .heading{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 918px){
  .heading{
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 500px){
  .heading{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}


/* Dark Light Button */
.rht-sun{
    transition:.3s;
    opacity:1;
    color: var(--accent-color);
}
  
.rht-moon{
    transform:translate(2.6875rem) rotate(250deg);
    transition:.3s;opacity:0;
    color: var(--accent-color)
}
  
.rht-ball{
    display:block;
    position:absolute;
    top:.3125rem;
    left:.3125rem;
    width:1.5625rem;
    height:1.5625rem;
    transition:.3s;
    border-radius:50%;
    background: var(--secondary-text);
}
  
.rht-switch{
    display: none
}
  
.rht-switch:checked+label .rht-sun{
    transform: translate(-2.375rem) rotate(160deg);
    opacity:0
}
  
.rht-switch:checked+label .rht-moon{
    transform: translate(0) rotate(0);
    opacity:1
}
  
.rht-switch:checked+label .rht-ball{
    transform: translate(2.375rem)
}
  
.rht-label{
    display:flex;
    position:relative;
    box-sizing:border-box;
    align-items:center;
    justify-content:space-between;
    width:4.625rem;
    height:2.1875rem;
    padding:0 .375rem;
    border-radius:1.125rem;
    background: var(--secondary-bg);
    cursor:pointer
}

